.main{
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: scroll;

    &__filterBar{
        width: 100%;
        display: none;
        justify-content: start;
        align-items: center;
        padding: 0.25em 0.5em;

        &--active{
            display: flex;
        }

        &__filters{
            flex-grow: 2;
            overflow-x: auto;

            & .filter{
                width: fit-content;
                padding: 0.25em 0.5em;
                background-color: #dddddd;
                color: #505050;
                border-radius: 1em;
                font-size: 0.75em;
            }
        }

        &__icon{
            width: 32px;
            height: 32px;
        }
    }

    &__container{
        width: 100%;
        padding: 0.25em;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;

        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px){
            width: 60%;
        }

        &--all{
            
            grid-template-columns: 1fr;
            gap: 0.5em;

            @media (min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 1024px){
                width: 100%;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}