.popUp {
  width: 96%;
  padding: 1em 0.5em;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border: 1px solid #dddddd;
  color: #505050;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #dddddd;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border: 1px solid #dddddd;
    color: #505050;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -14px;
    left: 25px;
  }

  @media (min-width: 768px) {
    width: 30%;
    left: 0;
    transform: none;
    margin-left: 0.5em;
  }

  &--active {
    display: flex;
  }

  &__option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    margin: 0.5em 0;
  }

  &__text {
    margin-left: 0.5em;
  }

  &__list {
    width: 90%;
    list-style: url('../images/chevron-right.svg');
    margin-bottom: 0.5em;

    &__element {
      margin: 0.5em 0;
      font-size: 0.9em;
    }
  }

  &__or {
    width: 100%;
    height: 20px;
  }

  &__contact {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__info {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-right: 1px solid #cacaca;
      }
    }
  }

  &__contactText {
    font-size: 0.9em;
    margin-left: 0.2em;
  }
}
