@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  height: 40px;
  background-color: #C71628;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.25em;
  position: relative;
}

@media (min-width: 1024px) {
  .header {
    padding: 0.5em;
  }
}

.header__button {
  width: 100px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.1em 0.5em;
  cursor: pointer;
}

.header__logo {
  width: 128px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header__socialIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .header__socialIcon::before {
    content: "Dołącz do nas na facebook'u";
    color: #fff;
    margin-right: 0.5em;
  }
}

.nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  overflow-x: scroll;
  scrollbar-width: none;
}

@media (min-width: 1024px) {
  .nav {
    overflow: hidden;
  }
}

.nav__list {
  width: 100%;
  padding: 0.25em 0.75em;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1024px) {
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__list__element {
  color: #7a7a7a;
  font-size: 1.5em;
  margin-right: 2.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.nav__list__element:last-child {
  margin-right: 0;
}

.nav__list__element--active {
  color: #505050;
  font-weight: 700;
}

.main {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-y: scroll;
}

.main__filterBar {
  width: 100%;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 0.5em;
}

.main__filterBar--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__filterBar__filters {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  overflow-x: auto;
}

.main__filterBar__filters .filter {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25em 0.5em;
  background-color: #dddddd;
  color: #505050;
  border-radius: 1em;
  font-size: 0.75em;
}

.main__filterBar__icon {
  width: 32px;
  height: 32px;
}

.main__container {
  width: 100%;
  padding: 0.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .main__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main__container {
    width: 60%;
  }
}

.main__container--all {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .main__container--all {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main__container--all {
    width: 100%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 100%;
  padding: 0 0.25em 0.5em 0.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "image image" "name name" "price more";
  color: #505050;
  border: 1px solid #dddddd;
}

.card__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
  width: 100%;
}

.card__name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0.25em 0;
}

.card__price {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: price;
}

.card__more {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: more;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  color: #C71628;
  padding: 0 0.25em;
}

.popUp {
  width: 96%;
  padding: 1em 0.5em;
  position: absolute;
  top: -2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #fff;
  border: 1px solid #dddddd;
  color: #505050;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popUp:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dddddd;
  position: absolute;
  top: -15px;
  left: 25px;
}

.popUp:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: -14px;
  left: 25px;
}

@media (min-width: 768px) {
  .popUp {
    width: 30%;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin-left: 0.5em;
  }
}

.popUp--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popUp__option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  margin: 0.5em 0;
}

.popUp__text {
  margin-left: 0.5em;
}

.popUp__list {
  width: 90%;
  list-style: url("../images/chevron-right.svg");
  margin-bottom: 0.5em;
}

.popUp__list__element {
  margin: 0.5em 0;
  font-size: 0.9em;
}

.popUp__or {
  width: 100%;
  height: 20px;
}

.popUp__contact {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.popUp__contact__info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popUp__contact__info:first-child {
  border-right: 1px solid #cacaca;
}

.popUp__contactText {
  font-size: 0.9em;
  margin-left: 0.2em;
}
/*# sourceMappingURL=global.css.map */